
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,900;1,900&display=swap');

  body{
    font-family:'Roboto',sans-serif;
   /*  font-family: 'Roboto Slab',serif; */
}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
:root{
    --mainColor:#ffb606;
}
::selection{
 background-color:var(--mainColor);
 color: #fff;
}
.container{
  width: 88% !important;
  margin: auto;
}
.nav-top span, i, a{
  font-size: 12px;
}
.nav-top a{
  color: #ababab;
  text-transform: capitalize;
  text-decoration: none;
}
.nav-top a:hover{
  text-decoration: underline;
}
.nav-top .left-content{
  width: 45%;
  color: #ababab;
}
.navbar-brand img{
  width: 160px;
}
.nav-item{
  padding-right: 20px;
}
.nav-link{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
}
.nav-link:hover{
  color: #fff !important;
}
.fa-magnifying-glass{
  font-size: 18px;
  color: #fff;
}
.fa-magnifying-glass:hover{
  color: var(--mainColor);
}

/* header */
.carousel{
  overflow-x: hidden;
}
.carousel-img {
  width: 100%;
  height: 82.5%;
  object-fit: cover;
  overflow: visible;
  z-index: 20;
  overflow: hidden;
  display: block;
}
.carousel-caption{
  bottom: 420px;
  top: 45%;
  margin-left: -115px;
  padding-top: 0;
}
/* last added */
.first .carousel-caption{ 
  top:42%;
}
.carousel-caption h1{
  font-size: 20px;
  text-transform: uppercase;
}
.main-head{
  font-size: 65px;
  font-family: 'Roboto Slab',serif;
  font-weight: 700;
}
.carousel-item{
  height: 700px !important;
}
.main-btn{
  background-color: var(--mainColor);
  color: #333;
  padding: 9px 35px;
  text-transform: uppercase;
  font-family: 'Roboto Slab',serif;
}
.main-btn:hover{
  background-color: #ffb406a8;
  color: #333;
}
header .left-content i{
  font-size: 66px;
  color: var(--mainColor);
  padding-right: 15px;
}
header{
  position: relative;
}
header .row{
  gap: 84px;
  justify-content: center;
}
header .info{
  position: absolute;
  bottom: 25%;
  z-index: 10000;
}
header .info .col-lg-4{
  padding: .9rem;
  width: 26%;
  background-color: rgba(0,0,0,.6);
}
header .info .col-lg-4:hover{
  background-color: rgba(0, 0, 0, 0.854)
}
header .info .col-lg-4 p{
  color: #fff;
  font-weight: 600;
  font-size: 16px;
font-family: 'Roboto Slab',serif;
}
header .info .col-lg-4 a{
  color: var(--mainColor);
  font-size: 12px;
  text-transform: capitalize;
}

/* popular courses*/
.popular-courses{
  margin-top: -149px;
} 
h2 , .cart h3{ 
  font-family: 'Roboto Slab',serif;
  font-size: 28px;
}
.popular-courses p, .about p, .events p, .latest-news p , .testimonials p{ 
  font-size: 14px;
  color: #696969;
  
}
.popular-courses{
  margin-top: 10px;
}
.circle{
  position: absolute;
  bottom: -30px;
  left: 40%;
  width: 50px !important;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.course-info{
  border: 1px solid #969696;
  border-top: none;
}
.course-info a{
  font-size: 15px;
  text-transform: capitalize;
  color: #969696;
}
.course-info h3{
  font-family: 'Roboto Slab',serif;
  font-size: 20px;
  color: #333;
  text-transform: capitalize;
}
.course-info h3:hover{
  color:var(--mainColor);
}
.line{
  margin: 15px 0;
  width: 100%;
  height: 2px;
  position: relative;
  background-color: #969696;
}
.line::before{
  content: '';
  position: absolute;
  width: 40px;
  top: -1;
  left: 43%;
  height: 3px;
  background-color: var(--mainColor);
}
.course-info .icons span{
font-size: 17px;
padding-right: 7px;
color: #969696;
}
.price{
  color: rgba(255, 34, 68, 0.8);
  font-weight: 600;
}
.course-poster .overflow-hidden img{
  transition: .5s ease;
}
.course-poster .overflow-hidden img:hover{
  transform: scale(1.2);
}
.course-poster .overflow-hidden{
  position: relative;
}
.btn-cart{
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: 888888;
  transition: .7s ease;;
}
.course-poster .overflow-hidden:hover .btn-cart{
  opacity: 1;
  transform: scale(0.8);
}
.owl-nav{
  text-align: right;
  margin-top: -445px;
}
.owl-nav .owl-prev{
margin-right: 15px;
 right: -10px; 
}
.owl-nav .owl-prev,.owl-next{

  top: -64;
  right: 0;
}
.owl-nav span{
  font-size: 25px;
  border: 1px solid #333;
  padding: 0 10px;
}
.bttn{
  margin-top: 410px;
  margin-bottom: 40px;
}
/*register */
.register{
  background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
  url(../img/bg_register_now.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.register p{
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}
.register p span{
  font-weight: bold;
  font-size: 24px;
  color: var(--mainColor);
}
.register .main-head{
  color: #fff;
}
.counter{
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius: 50%;
}
.counter .count{
  font-weight: 600;
  font-size: 45px;
}
.right-content p{
  background-color: var(--mainColor);
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto Slab',serif;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.register-form{
  margin-top: 25px;
  padding-bottom: 4rem;
}
.register-form input ,.login-form input{
  border: .7px solid rgb(202, 202,202);
}
.register-form input:focus{
  outline: 0;
  border-color: var(--mainColor);
}
::placeholder{
  color: rgb(202,202,202);
}
.counter .caption{
  font-size: 14px;
  margin-top: -7px;
}
.register-form button:hover{
  background-color: var(--mainColor);
  color: #333;
}
/* about */
.about{
  background-color: #F3F3F3;
}
.about h3{
  font-size: 18px;
  font-family: 'Roboto Slab',serif;
}
/* events */
.events .head{
  border-bottom:  .5px solid rgb(216, 216, 216);
}
.events  a{
  border: .5px solid rgb(216, 216, 216) !important ;
  font-size: 14px;
  width: 10%;
  text-transform: uppercase;
  font-weight: 500;
}
.events a:hover{
  border-color: var(--mainColor)!important ;
}
.event .date .day{
  font-size: 55px;
  color: var(--mainColor);
}
.event .date .month{
  color: #969696;
  font-size: 18px;
}
.event .date{
  height: fit-content;
  border-right: .5px solid rgb(216, 216, 216);
}
.events h3{
  font-size: 22px;
  color: #333;
  cursor: pointer;
}
.events h3:hover{
  color: var(--mainColor);
}
.events span.time, span.location{
  color: #969696;
  font-size: 14px;
  margin-right: 15px;
}
/* latest news */
.latest-news{
  background-image: url(../img/bg_lastest_new.jpeg);
  background-size: cover;
  height: 550px;
}
.overlay{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: .5s;
  background-color: rgba(0, 0, 0, 0.6);
}
.news-poster:hover .overlay{
  opacity: 1;
}
.overlay i{
  font-size: 18px;
  color: white;
}
.news-info{
padding-top: 2.1rem;
}
.news-info p{
  background-color: var(--mainColor);
  position: absolute;
  top: -10px;
  padding: 5px 20px;
  color: #333;
  font-size: 14px;
  left: 22%;
  font-weight: 300;
}
.news-info a{
  font-size: 15px;
  color: white;
}
.news-info a:hover{
  color: var(--mainColor);
}
.latest-news .owl-nav span{
  color: white;
  border-color: white;
}
.latest-news .owl-nav {
  text-align: right;
  margin-top: -378px;
}
/* register page in header section */
.register-page,.login-page{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 display: none;
 animation: animationForm 1.5s;
 transition: 1s ease-in-out;
  z-index: 99999;
  background-color: rgba(8,8,8,0.766);
}
@keyframes animationForm{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}
.register-page .w-50, .login-page .w-50{
  width: 30% !important;
}
.register-page .container>p ,.login-page .container>p {
  font-family: 'Roboto Slab',serif;
  font-size: 20px;
  font-weight: 600;
}
.register-page a ,.login-page a{
  color: var(--mainColor);
  font-size: 15px;
  font-weight: bold;
}
.qustion{
  color: #333;
  font-weight: 300;
}
.overlay-reg ,.overlay-login{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: crosshair;
}

.form-check{
  display: inline-block;
  margin-left: -12px;
  min-height: 0.5rem;
}
#show_pass {
  position: absolute;
  line-height: 40px;
  right: 485px;
  bottom: 338px;
  cursor: pointer;
  z-index: 2;
  font-size: 18px;
}
/* #show_pass.active {
  color: #333;
} */
.iconHeartInactive::before {
  content: '\f06e';
  color: #080808;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 18px;
}
.iconHeartActive::after{
  content: '\f06e';
  color: #aeaeae;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 18px;
}

#show_pass::after {
 
  color: #e80c0c;
}
.form-check-label{
  margin-top: 0px;
}
.form-check a{
  margin-top: 7px;
}
/* testimonials  */
.testimonials img{
  width: 80px !important;
  height: 80px;
}
.testimonials .owl-item.active.center .testimonial{
  transform: scale(1.3);
  transition: transform .6s;
}
.testimonials .owl-item{
  transform: scale(0.8);
}
.testimonials .owl-item img{
  opacity: 0.5;
}
.testimonials .owl-item.active.center .testimonial img{
  opacity: 1;
  border: 0.2px dotted #7a7a7a;
  padding: 2px;
}
.owl-carousel .owl-stage-outer{
  padding: 20px 0;
}
.testimonial .overlay{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  background-color: #ffb40650;
  opacity: 1;
}
.testimonials .owl-item.active.center{
  position: relative;
}
.testimonials .owl-item.active.center::after{
  content: '\f10e';
  font-family: FontAwesome;
  position: absolute;
  top: -9px;
  right: 9px;
  background-color: #ffb606;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 25px;
}
.testimonial-info h3{
  font-size: 22px;
  color: #333;
}
.testimonial-info span{
  font-size: 18px;
  color: #868686;
}
.testimonial-info p{
  font-size: 18px;
  color: #7c7c7c;
}
.message{
  width: 70% !important;
  background-image: url(../img/bg-newletter.webp);
  background-size: cover;
}
.message .container{
  width: 100%;
}
.input-group-text{
margin-right:40px;
}
.testimonials p {
  font-size: 14px;
  color: #696969;
  margin-right: 100px;
  margin-left: 27px;
}
.message input::placeholder{
  font-size: 13px;
  color: #333;
  box-shadow: none;
  outline: 0;
}
.message input:focus{
  box-shadow: none;
  outline: 0;
  border-color: var(--mainColor);
}
.message input{
  background-image: url(../img/letter.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 92%;
}
.message button{
  font-weight: 600;
}
/* footer  */
footer{
  background-color: black;
}
footer span, footer a{
  color: #868686;
  font-size: 16px;
  padding-top: 15px;
  display: inline;
  text-transform: capitalize;
  font-weight: 400;
}
footer img{
  padding-bottom: 10px;
}
footer span{
  font-size: 14px;
}
footer a:hover{
  color: var(--mainColor);
}
footer h3{
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
  font-family: 'Roboto Slab',serif;
}
footer i{
  font-size: 17px;
  display: inline-block;
  padding-right: 10px;
  color: var(--mainColor);
}
.social{
  padding-top: 2rem;
}
.social i{
  color: #868686;
  font-size: 20px;
  padding-right: 10px;
}
.social i:hover{ 
  color: var(--mainColor);
  transition: .7s;
}
.links{
  padding-bottom: 3rem;
  border-bottom: 0.6px solid #7a7a7a;
}
footer .gap-2{
  gap: 10px;
}
/* footer-bottom  */
.footer-bottom{
background: linear-gradient(#ffb40668,#ffb40668)
,url(../img/bg_become_footer.jpg);
height: 500px;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-position: center;
} 
.footer-bottom p{
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  font-weight: bold;
  color: #333;
}
.footer-bottom span{
  color: #333;
  font-size: 17px;
}
.footer-bottom .main-btn{
  background-color: transparent !important;
  border: 1px solid #333;
  color: #333 !important;
  display: block;
  width: fit-content;
  margin: 25px auto;
}
.footer-bottom .main-btn:hover{
  color: #fff !important;
  background-color: black !important;
}
/* add to cart */
.cart-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99999;
  
}
.cart{
  position:absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 370px;
  background-color: #fff;
  overflow: auto;
  animation: cartAnimation 1s;
}
@keyframes cartAnimation {
  from{
    right: -100%;
  }
  top{
    right: 0;
  }
  
}
.cart i{
  cursor: pointer;
 
}
.cart-list{
  overflow-x: hidden !important;
  padding: 0 5px;
}
.cart-list .row {
  gap: 8px;
  justify-content: center;
}
.cart-section{
  display: none;
}
.swal2-container{
  z-index: 99999 !important;
}



